@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:ital,wght@400;700;1&family=Montserrat&display=swap");

/* --- Body  */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e0f7fa;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 3rem;
}

.body-blue {
  background-color: #c9e7fc;
}

/* --- General Headings  */

header {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Alegreya+Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0px;
  padding: 0;
  color: #00bcd4;
  text-align: center;
  text-decoration: none;
}

h2 {
  color:#e91e63;
  margin-left: 15px;
  }
/* --- Navigation Bar  */

.navbar-brand {
  font-weight: bold;
}

.navbar {
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #00bcd4;
}

.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #e91e63;
}

/* --- Home Page  */

#itil-pic1 {
  background: url("../images/itil-pic1.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#basic-details {
  margin: 50px;
  padding: 30px;
  font-size: 1.5rem;
  color: #e91e63;
}

/* --- Quick Help Page  */

.row-style {
  background-color: #f8f8ff;
  border: 2px solid #3f3f3f;
  box-shadow: 5px 10px grey;
  border-radius: 10px;
  margin: 10px;
  min-height: 10rem;
  margin-bottom: 50px;
}

.btn {
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid #3f3f3f;
    background-color:#80deea;
    color:  #3f3f3f;
    font-weight: 600;
}

.card-body {
    background-color:  #c9e7fc;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 2px solid #3f3f3f;
    box-shadow: 5px 10px grey;
}

/* --- Documentation Page  */

#change-process {
  background: url("../images/change-process.jpg") no-repeat center center;
  background-size: contain;
  min-height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


.doc-btn {
    margin: 3rem 0.5rem;
   
    width: 100%;
    padding: 0.5rem;
}


/* --- Ideas Page  */

#ideas-pic {
  background: url("../images/ideas-pic-change.png") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ideas-row {
    margin-top: 10rem;
    margin-left: 6rem;
}

#ideas-btn {
    min-height: 4rem;
}

#ideas-btn:hover {
  color: #e91e63;
}

/* --- Footer  */

footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
  height: 3rem;
  width: 100%;
}
.footer-row {
  text-align: center;
  padding: 1rem;
}

.footer-row i {
  font-size: 2rem;
  color: #00bcd4;
}

.footer-row col-12 a i {
  text-align: left;
}

.social-links i:hover {
  color: #e91e63;
}
