@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:ital,wght@400;700;1&family=Montserrat&display=swap");

/* --- Body  */

body {
  font-family: "Montserrat", sans-serif;
  background-color:#00251a;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 3rem;
}

/* --- General Headings  */

header {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Alegreya+Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;
  color: #f8f8ff;
  text-align: center;
  text-decoration: none;
}

h2 {
  color: #f8f8ff;
  margin-left: 15px;
  margin-top: 20px;
}

h3 {
 color: #00251a;

  text-align: center;
  margin-top: 5px;
}

/* --- Navigation Bar  */

.navbar-brand {
  font-weight: bold;
}

.navbar {
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
  color: #c9e7fc;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f8f8ff;
}

/* --- Pictures  */

#itil-pic1 {
  min-height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 4px solid #3f3f3f;
}
#ideas-pic {
  min-height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 4px solid #3f3f3f;
}

#change-process {
  min-height: 60vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 4px solid #00251a;
}

/* --- Buttons & Links  */

.btn {
  margin-top: 30px;
  border-radius: 25px;
  border: 2px solid #00251a;
  background-color: #c9e7fc;
  color: #00251a;
  font-weight: 600;
}

#ideas-btn {
  min-height: 4rem;
  box-shadow: 5px 10px grey;
  background-color: #c9e7fc;
}

#btnGroupDrop1 {
    font-size: 1.5rem;
    padding: 15px;
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow: 5px 10px grey;
}

.btn:hover {
  color:  #045c10;
}

.home-link a i{
    font-size: 2.5rem;
    color:  #c9e7fc;
}

.home-link a i:hover {
    color:  #f8f8ff;
}

/* --- Home Page  */

#basic-details {
  font-size: 1.5rem;
  color: #f8f8ff;
  min-height: 60vh;
  padding: 30px;
}

#basic-details a {
  font-size: 1.3rem;
  color: #00251a;
  font-weight: 500;
}

#basic-details a:hover {
    color:  #045c10;
}

.dropdown-menu {
    border-radius: 25px;
    background-color: #f8f8ff;
    box-shadow: 5px 10px grey;
    margin-left: 50px;
}


/* --- Ideas Section  */

#ideas-col {
  font-size: 1.5rem;
  color: #f8f8ff;
  min-height: 60vh;
  padding: 30px;
}

/* --- Quick Help Section  */

.def-style {
  background-color: #f8f8ff;
  border: 2px solid #3f3f3f;
  box-shadow: 5px 10px grey;
  border-radius: 30px;
  margin: 10px;
  min-height: 10rem;
  margin-bottom: 50px;
 }

.card-body {
  background-color: #c9e7fc;
  margin: 20px;
  border-radius: 30px;
  border: 2px solid #3f3f3f;
  box-shadow: 5px 10px grey;
}

/* --- Documentation Section  */

.doc-btn {
  margin: 3rem 0.5rem;
  width: 100%;
  padding: 0.5rem;
}

/* --- style the modal popup  */

.modal-dialog {
  color: #045c10;
  background-color: #c9e7fc;
  font-weight: 400;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid #3f3f3f;
  z-index: 1;
  overflow: auto;
  overflow-y: auto;
}

#selectArea {
  color: #045c10;
  border-color: #045c10;
}

/* The Close Button */
.modal-btn {
  margin: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color:#00251a;
  color:  #f8f8ff;
}

/* --- Footer  */

footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
  height: 3rem;
  width: 100%;
}
.footer-row {
   padding: 1.5rem;
}

.footer-row i {
  font-size: 2rem;
  color: #c9e7fc;
}

.footer-row .list-inline-item {
  text-align: right;
}

.social-links i:hover {
  color: #f8f8ff;
}
