@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:ital,wght@400;700;1&family=Montserrat&display=swap");

/* --- Body  */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e0f7fa;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 3rem;
}

/* --- General Headings  */

header {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Alegreya+Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;
  color: #00bcd4;
  text-align: center;
  text-decoration: none;
}

h2 {
  color: #e91e63;
  margin-left: 15px;
}

h3 {
  color: #00bcd4;
  text-align: center;
  margin-top: 5px;
}

/* --- Navigation Bar  */

.navbar-brand {
  font-weight: bold;
}

.navbar {
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #00bcd4;
}

.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #e91e63;
}

/* --- Pictures  */

#itil-pic1 {
  background: url("../images/itil-pic1.jpg") no-repeat center center;
  background-size: cover;
  min-height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 4px solid #3f3f3f;
}


#ideas-pic {
  background: url("../images/ideas-pic-change.png") no-repeat center top;
  background-size: contain;
  min-height: 50vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#change-process {
  background: url("../images/change-process.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid #3f3f3f;
}

/* --- Home Page  */

#basic-details {
  font-size: 1.5rem;
  color: #e91e63;
  min-height: 60vh;
  padding: 20px;
}

#basic-details a {
  font-size: 1.2rem;
  color: #00bcd4;
  font-weight: 500;
}

/* --- Ideas Section  */

.ideas-col {
  padding-top: 4rem;
  min-height: 60vh;
}

#ideas-btn {
  min-height: 4rem;
  border: 2px solid #3f3f3f;
  box-shadow: 5px 10px grey;
}

/* --- Quick Help Section  */

.def-style {
  background-color: #f8f8ff;
  border: 2px solid #3f3f3f;
  box-shadow: 5px 10px grey;
  border-radius: 30px;
  margin: 10px;
  min-height: 10rem;
  margin-bottom: 50px;
}

.btn {
  margin-top: 30px;
  border-radius: 25px;
  border: 2px solid #3f3f3f;
  background-color: #80deea;
  color: #3f3f3f;
  font-weight: 600;
}

.btn:hover {
  color: #e91e63;
}

.card-body {
  background-color: #c9e7fc;
  margin: 20px;
  border-radius: 30px;
  border: 2px solid #3f3f3f;
  box-shadow: 5px 10px grey;
}

/* --- Documentation Section  */

.doc-btn {
  margin: 3rem 0.5rem;
  width: 100%;
  padding: 0.5rem;
}


/* --- style the modal popup  */

.modal-dialog {
  color: #00bcd4;
  background-color: #c9e7fc;
  font-weight: 400;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid #3f3f3f;
  z-index: 1;
  overflow: auto;
  overflow-y: auto;
}

#selectArea {
  color: #00bcd4;
  border-color: #00bcd4;
}

/* The Close Button */
.modal-btn {
  margin: 3px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* --- Footer  */

footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
  height: 3rem;
  width: 100%;
}
.footer-row {
  text-align: center;
  padding: 1rem;
}

.footer-row i {
  font-size: 2rem;
  color: #00bcd4;
}

.footer-row col-12 a i {
  text-align: left;
}

.social-links i:hover {
  color: #e91e63;
}
